#terminus {
    color: orange;
    border: 2px solid orange;
    font-size: 35px;
  }

body {
    font-size: 40px;
    text-align: center;
    line-height: 1.4;
    background-color: rgb(6, 6, 6);
}

.table {
    display: table;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 20px;
}

.left {
    text-align: left;
    display: table-cell;
}

.right {
    text-align: right;
    display: table-cell;
}
@font-face {
    font-family: 'pixel_bold';
    src: url('pixel_bold.woff2') format('woff2'),
         url('pixel_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'lockclock';
    src: url('lockclock.woff2') format('woff2'),
         url('lockclock.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-size: 50px;
    color: black;
    background-color: white;
}
  
b {
    text-decoration: underline;
    color: red;
}

button {
    font-family: 'pixel_bold';
    font-size: 25px;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: 2px solid white;
  }

.results{
    font-family: 'lockclock';
    font-size: 20px;
    color: white;
}