body {
    font-family: 'pixel_bold';
    background-color: white;
    color: black;
    font-size: 40px;
    text-align: center;
    line-height: 1;}
.dark-mode {background-color: rgb(26, 26, 26);color: white;}
.light-mode {background-color: white;color: black;}
    
@font-face {
    font-family: 'pixel_bold';
    src: url('pixel_bold.woff2') format('woff2'),
         url('pixel_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'lockclock';
    src: url('lockclock.woff2') format('woff2'),
         url('lockclock.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

h1 {
    border: 2px solid rgb(255, 255, 255);
    font-size: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(18, 18, 18);
    border-radius: 8px;
    margin: auto;
    width: 20%;}

h2 {
    border: 2px solid rgb(255, 255, 255);
    font-size: 50px;
    color: rgb(255, 255, 255);
    background-color: rgb(18, 18, 18);
    border-radius: 8px;}

.table {
    display: table;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 20px;}
.left {text-align: center;display: table-cell;}
.right {text-align: center;display: table-cell;}

b {text-decoration: underline;color: red;}

.results{font-family: 'lockclock';font-size: 20px;}

button {cursor:pointer;}
input {cursor:pointer;}

.toggle_legendaries{
    display: table;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 10px;}
#p_legendary{display: table-cell;text-align: left;}
#c_legendary{display: table-cell;text-align: right;}

.only_legendaries{
    display: table;
    margin-left: auto;
    margin-right: auto;}
#p_onlylegendary{display: table-cell;text-align: left;}
#c_onlylegendary{display: table-cell;text-align: right;}

.showprices{
    display: table;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 10px;}
#p_prices{display: table-cell;text-align: left;}
#c_prices{display: table-cell;text-align: right;}

.choosef2p{
    display: table;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 10px;
    border-radius: 8px;
    border: 1px solid gray;}

#p_f2p{display: table-cell;text-align: left;vertical-align: middle;}
.f2palign{display: table-cell;text-align: left;}

.priceslook{font-family: 'lockclock';font-size: 20px;color:#34a1eb;}

#color{
    font-size: 30px;
    background-color: transparent;    
    border: 0px solid transparent;}

#version{
    font-size: 20px;
    margin-right: auto;}

#HASH {
    display: flex;
    justify-content: space-between;}

label{font-family: 'lockclock';font-size: 20px;}

img{border-spacing: 10px;
border-radius: 8px;
border: 1px solid gray;}