::selection {
  color:rgb(45, 45, 45);
  background-color: rgb(255, 170, 0);}

body {
  font-size:24px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)) , url('bg.jpeg');
  font-family:'Segoe UI';
  color: white;
  text-shadow: 2px 2px 0px black;}

/*top bar with links to other pages*/
header{
  background-color: rgba(0, 0, 0, 0.426);
  border-radius: 10px;
  display: flex;
  letter-spacing: 20px;}

#right {display:block;margin-left: auto;}
#selected {text-shadow: 3px 3px 0px rgba(255, 145, 0, 0.83);}

/*Intro of pages (titles)*/
#Infotitle {
  font-style: bold;
  margin: auto;
  width: 50%;
  text-align: center;}

/*the page*/
#page {
  font-style: bold;
  margin: auto;
  width: 80%;
  text-align: center;
}

#projects {
  font-style: bold;
  margin: auto;
  width: 50%;
  text-align: center;}

/*extra config*/
p {font-size:22px; text-shadow: 1px 1px 0px black;margin-bottom: 15px;}
a {color:rgb(255, 221, 0);text-decoration: none;text-shadow: 2px 2px 0px black;}
h2 {font-size:30px;}
#normal {color: white;}

.color{
  font-size: 30px;
  background-color: transparent;    
  border: 0px solid transparent;}

figcaption{
  padding-bottom: 10px;
}

figure {
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  width:180px;
  border-radius: 10px;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

tr:nth-child(odd) > .test {background-color: rgba(255, 255, 255, 0.282); border-radius:20px}